*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/buildOutputCleanup.lock
/.idea/executionHistory.lock
/.idea/fileHashes.bin
/.idea/fileHashes.lock
/.idea/outputFiles.bin
/build
/captures
.externalNativeBuild
.cxx
local.properties
.DS_Store
._.DS_Store
**/.DS_Store
**/._.DS_Store
